{% comment %}     {%load static%}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/css/base.css" type="text/css">
        <link rel="icon" href="{% static 'img/favicon.png' %}">
        <title>Home</title> 
    </head>
    <body>    
            <h1 style="color:aliceblue; text-align:center;" class="welcome"> Welcome in e-commerce</h1>
            
            <form action="" method="POST" class="homeForm"> 
            <h1 style=" border-radius:5px; text-align:center; color:white;"> log in</h1>
              
                <input type="password" name="password" placeholder="Enter your ID..."/>
                <input  type="text" name="nom" placeholder="Enter your Name..."/>
                <input  type="text" name="adresse" placeholder="Enter your adress..."/>
                <a href="{% url 'pages:users' %}" style="color:white; border:5px dashed green; background:black;">Connecter</a>
            </form>
    
    </body>
    </html> {% endcomment %}

{%load static%}
<link rel="stylesheet" href="/static/css/base.css" type="text/css">
<link rel="icon" href="{% static 'img/favicon.png' %}">
{% block 'content' %}
<h1 style="color:aliceblue; text-align:center;" class="welcome"> Welcome in e-commerce</h1>
<div class="homeForm1">
    <h2 style="color:black; text-align:center;" class="welcome">
        ELECTRONIC COMMERCE is a web application simple, fast and efficient to buy and sell products 
    online</h2>
    <h1>get started</h1>
<a href="{% url 'login' %}">
    <button style=" border-radius:5px; text-align:center;width:200px;height:50px; color:white; background-color: rgb(0, 0, 0);">Login</button>
    </a>
</div>

{%endblock%}