{% block 'content' %}
<h1>Delete{{ post.title }}</h1>
<form action="{% url 'pages:deleteArticle' post.id %}" method="post">
{% csrf_token %}
<p>Are you sure you want to delete this article?</p>
<input style="padding: 8px auto; margin:auto; font-size:20px; border-radius:5px;
background-color:red; color:black; "  type="submit" value="Yes">
<a href="{% url 'pages:product' %}">
<input style="padding: 8px auto; margin:auto; font-size:20px; border-radius:5px;
background-color:green; color:black; "  type="button" value="Cancel">
{%endblock%}