{%load static%}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/css/base.css" type="text/css">
        <link rel="icon" href="{% static 'img/favicon.png' %}">
        <title>Users</title>
    </head>
<body class="body1">
<header class="header">
    <div class="navbar" >
    <div class="links"> 
        <a href="{% url 'pages:home' %}" style="border:5px dashed green; background:white;">Deconnecter</a>
        <a href="{% url 'pages:addNewProduct' %}" style="border:5px dashed blue; background:white;">Create Article</a>
    </div>
    </div>
</header>
<h1 style="color:white"> LIST OF USERS </h1>
<section class="boxe" style="display:flex;">
<div class="boxes" style=" background-color: white;
width: 100px;height:150px; border: 5px solid white;padding: 50px;margin: 20px;">
{% if user.is_authenticated %}
    <h2 style="color:black;text-align:center;" >User: {{ user.first_name }}!</h2>
{% else %}
    <h2 style="color:green;text-align:center;">User:!</h2>
{% endif %}
    <a href="#" class="user">
        <p><a href="{% url 'pages:product' %}">See products</a></p>
        <img src="{% static 'pages\static\pages\img\LOGISTICO2.png' %}"width="100">
   </a>
</div>
<div class="boxes" style=" background-color: white;
width:100px; height:150px; border: 5px solid white;padding: 50px;margin: 20px;hover;">
    <p>User: BUJIRIRI</p>
    <a href="#" class="user">
        <p><a href="{% url 'pages:product' %}">See products</a></p>
        <img src="{% static 'pages\static\pages\img\BFOT.png' %}"width="100">
   </a>
</div>
<div class="boxes" style=" background-color: white;
width: 100px;height:150px; border: 5px solid white;padding: 50px;margin: 20px;">
    <p>User: MARY</p>
    <a href="#" class="user">
        <p><a href="{% url 'pages:product' %}">See products</a></p>
        <img src="{% static 'pages\static\pages\img\logistico1.png' %}"width="100">
   </a>
</div>
</section>
</body>
</html>





































    
   